@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper {
  max-width: 1600px;
  background-color: #457696;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#457696), to(#040518));
  background-image: linear-gradient(180deg, #457696 0%, #040518 100%);
  min-height: 100vh;
}

header {
  position: relative;
  display: block;
  background: url("../images/bgSmall.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 80vh;
  font-family: 'Manrope', sans-serif;
  padding-bottom: 1rem;
}

@media (min-width: 1024px) {
  header {
    background: url("../images/bgBig.jpg") no-repeat;
  }
}

header .content {
  color: white;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding-top: 1rem;
}

@media (min-width: 1024px) {
  header .content {
    margin-top: 7rem;
    margin-left: 3rem;
    width: 50%;
  }
}

header .content h1 {
  font-size: 1.7rem;
}

@media (min-width: 600px) {
  header .content h1 {
    font-size: 2.7rem;
  }
}

@media (min-width: 768px) {
  header .content h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  header .content h1 {
    font-size: 2.3rem;
    text-align: left;
    margin-left: 1rem;
  }
}

@media (min-width: 1200px) {
  header .content h1 {
    font-size: 3rem;
    width: 85%;
  }
}

header .content .play {
  position: relative;
}

header .content .play .watch {
  position: absolute;
  top: 0;
  left: 30%;
  font-size: 0.6rem;
  text-align: left;
  margin-top: 1.2rem;
  background-color: #fff;
  display: inline-block;
  border-radius: 5px;
  color: #000;
  padding: 0.1rem 1rem;
}

@media (min-width: 600px) {
  header .content .play .watch {
    left: 35%;
    font-size: 0.8rem;
    padding: 0.2rem 1.3rem;
    margin-top: 2.5rem;
  }
}

@media (min-width: 768px) {
  header .content .play .watch {
    left: 37%;
    font-size: 1rem;
    padding: 0.2rem 1.5rem;
  }
}

@media (min-width: 1024px) {
  header .content .play .watch {
    left: 7%;
  }
}

@media (min-width: 1200px) {
  header .content .play .watch {
    left: 6%;
  }
}

header .content .play .play-icon {
  position: absolute;
  top: 10px;
  left: 17vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.6rem;
  border-radius: 50%;
  background: #fff;
}

@media (min-width: 600px) {
  header .content .play .play-icon {
    left: 22vw;
    top: 33px;
  }
}

@media (min-width: 768px) {
  header .content .play .play-icon {
    left: 24vw;
    top: 33px;
    padding: 0.7rem;
  }
}

@media (min-width: 1024px) {
  header .content .play .play-icon {
    left: 1rem;
  }
}

header .content .play .play-icon .fa-play {
  color: #fdc463;
  font-size: 0.9rem;
  cursor: pointer;
}

@media (min-width: 600px) {
  header .content .play .play-icon .fa-play {
    font-size: 1.1rem;
  }
}

header .form {
  width: 85%;
  min-height: 30vh;
  padding: 2rem;
  margin: 4rem auto 0;
  background-color: rgba(255, 244, 244, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
}

@media (min-width: 600px) {
  header .form {
    margin: 7rem auto 0;
  }
}

@media (min-width: 768px) {
  header .form {
    padding: 2.5rem 1.5rem;
  }
}

@media (min-width: 1024px) {
  header .form {
    margin-top: 4rem;
    margin-right: 3rem;
    width: 50%;
    padding: 2.5rem 1rem;
  }
}

header .form .info {
  margin: 0 auto;
  position: relative;
}

@media (min-width: 1024px) {
  header .form .info {
    width: 90%;
  }
}

header .form .info .icon {
  color: black;
  position: absolute;
  top: 35px;
  left: 62vw;
  font-size: 15px;
  z-index: 1;
}

@media (min-width: 500px) {
  header .form .info .icon {
    left: 67vw;
  }
}

@media (min-width: 600px) {
  header .form .info .icon {
    font-size: 17px;
    top: 47px;
    left: 70vw;
  }
}

@media (min-width: 768px) {
  header .form .info .icon {
    top: 55px;
    left: 75vw;
  }
}

@media (min-width: 1024px) {
  header .form .info .icon {
    top: 57px;
    left: 34vw;
  }
}

@media (min-width: 1024px) {
  header .form .info .icon {
    left: 33vw;
  }
}

@media (min-width: 1400px) {
  header .form .info .icon {
    left: 34vw;
  }
}

@media (min-width: 1550px) {
  header .form .info .icon {
    left: 558px;
  }
}

header .form .container-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .form .container-date .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
}

header .form .container-date .item .input {
  width: 100%;
}

header .form .container-date .item label {
  width: 100%;
  margin-bottom: 0.5rem;
}

header .form .container-pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

header .form .container-pay .pay {
  width: 30px;
  height: 20px;
  margin-right: 8px;
  cursor: pointer;
  font-size: 15px;
  visibility: hidden;
}

header .form .container-pay .pay:after, header .form .container-pay .pay::after {
  content: ' ';
  background-color: #fff;
  display: inline-block;
  padding-bottom: 5px;
  color: #fdc567;
  width: 18px;
  height: 18px;
  visibility: visible;
  padding-left: 3px;
  border-radius: 5px;
}

header .form .container-pay .pay:checked:after, header .form .container-pay .pay:checked::after {
  content: '\2714';
  padding: -5px;
  font-weight: bold;
}

header .form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}

header .form form label {
  color: #fff;
  width: 60%;
  font-size: 0.9rem;
}

@media (min-width: 600px) {
  header .form form label {
    font-size: 1.3rem;
  }
}

@media (min-width: 768px) {
  header .form form label {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  header .form form label {
    width: 90%;
  }
}

header .form form .input {
  color: gray;
  padding: 0.7rem 1rem;
  border-radius: 7px;
  opacity: 0.8;
  outline: none;
  font-weight: 400;
}

@media (min-width: 600px) {
  header .form form .input {
    font-size: 1.2rem;
    padding: 0.8rem 1rem;
  }
}

@media (min-width: 768px) {
  header .form form .input {
    font-size: 1.4rem;
    padding: 1rem;
  }
}

@media (min-width: 1024px) {
  header .form form .input {
    font-size: 1.2rem;
  }
}

header .form form .destination {
  width: 100%;
}

header .form form .btn {
  background-color: #fdc567;
  padding: 0.6rem 0;
  border-radius: 5px;
  border: 1px solid #fdc567;
  color: #000;
  font-family: inherit;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .form form .btn:hover {
  cursor: pointer;
  background-color: #000;
  color: #fdc567;
}

@media (min-width: 600px) {
  header .form form .btn {
    font-size: 1.3rem;
    padding: 0.7rem 0;
  }
}

@media (min-width: 768px) {
  header .form form .btn {
    font-size: 1.5rem;
  }
}

header .desktop-navbar {
  display: none;
  color: #fff;
  margin-left: 2rem;
  margin-right: 2rem;
}

@media (min-width: 1024px) {
  header .desktop-navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .desktop-navbar h3 {
    margin: 1rem 0 0 3rem;
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) and (min-width: 1024px) {
  header .desktop-navbar h3 {
    font-size: 1.4rem;
  }
}

header .desktop-navbar .desktop-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .desktop-navbar .desktop-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
}

header .desktop-navbar .desktop-menu ul li {
  list-style: none;
}

header .desktop-navbar .desktop-menu ul li a {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
  font-size: 1.4rem;
  margin: 0 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (min-width: 1200px) {
  header .desktop-navbar .desktop-menu ul li a {
    margin: 0 2rem;
  }
}

header .desktop-navbar .desktop-menu ul li a:hover {
  color: #fdc567;
}

header .desktop-navbar .desktop-menu .login {
  font-family: inherit;
  color: #000;
  background-color: #fdc567;
  padding: 0.3rem 1.5rem;
  border: 1px solid #fdc567;
  border-radius: 4px;
  margin: 1rem 1.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (min-width: 1024px) {
  header .desktop-navbar .desktop-menu .login {
    font-size: 1rem;
  }
}

header .desktop-navbar .desktop-menu .login:hover {
  color: #fdc567;
  background-color: #000;
  cursor: pointer;
}

@media (min-width: 1024px) {
  header .desktop-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    padding: 1rem;
  }
}

@media (min-width: 1200px) {
  header .desktop-container {
    gap: 5rem;
  }
}

.burger {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

@media (min-width: 600px) {
  .burger {
    top: 2rem;
    right: 2.5rem;
  }
}

@media (min-width: 768px) {
  .burger {
    top: 2.5rem;
    right: 3rem;
  }
}

@media (min-width: 1024px) {
  .burger {
    display: none;
  }
}

aside {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -300px;
  width: 300px;
  background-color: #000;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  z-index: 1;
}

@media (min-width: 600px) {
  aside {
    left: -400px;
    width: 400px;
    font-size: 1.5rem;
    margin-top: 1rem;
  }
}

@media (min-width: 768px) {
  aside {
    left: -500px;
    width: 500px;
    font-size: 1.7rem;
  }
}

@media (min-width: 1024px) {
  aside {
    display: none;
  }
}

aside ul {
  padding: 2rem;
}

aside ul li {
  margin-top: 0.8rem;
}

aside ul li a {
  text-decoration: none;
  color: #fff;
}

.fa-solid {
  color: #fff;
  display: none;
  font-size: 1.5rem;
}

@media (min-width: 600px) {
  .fa-solid {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .fa-solid {
    font-size: 3rem;
  }
}

.show {
  display: block;
}

aside.show {
  left: 0;
}

.error {
  color: red;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #cdcdcd;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #787878;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.video {
  height: 350px;
  width: 90%;
}

@media (min-width: 600px) {
  .video {
    height: 450px;
  }
}

@media (min-width: 1024px) {
  .video {
    height: 500x;
  }
}

@media (min-width: 1200px) {
  .video {
    height: 600px;
  }
}
